.BurgerGrid {
  position: relative; 
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0px !important;
  align-items: center;
  justify-content: center;
}

.BurgerComponent {
  height: 700px;
  overflow-y: auto;
}

.BurgerSegment {
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 0px !important;
  border: 0px !important;
  box-shadow: 0px !important;
}

.BurgerGrid::before {    
  content: "";
  background-image: url('/images/food-bg-bnb.jpg') !important;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3 !important;
}